includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 9
    paths:
        - src
        - elementor-twig-kit.php
    scanFiles:
        - stubs/elementor.php
    tmpDir: var/phpstan
